body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
  background-color: #070707;
}


.snake {
  background-color: #1afc06;
}

#game-board {
   
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
  background-color: #000000;
}

.game-border {
  border: #71b3a2 solid 40px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}



#instruction-text {
  position: absolute;
  top: 60%;
  color: #7eecbe;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #0af81e;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #ff0000;
  display: none;
}

.game-border-3,
#logo {
  background-color: #000000;
  font-size: 50px;
  color: white;
}

.snake {
  border: #5a5a5a 1px dotted;
}

.food {
  background-color: #dedede;
  border: #999 5px solid;
}

#logo {
  position: absolute;
}
