body {
 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
  background-color: #ffffff;
}



.snake {
  background-color: #05023a;
  
}


#game-board {
   
  display: grid;
  grid-template-columns: repeat(14, 20px);
  grid-template-rows: repeat(20, 20px); 
  margin: 5px;
  background-color:#fffbfb;
}

.game-border {
  border: #ADD8E6 solid 40px;
  border-radius: 50px;
  box-shadow: 0px 0px 30px 10px #95d3e7;
}



#instruction-text {
  position: absolute;
  top: 60%;
  color: #00008B;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #00008B;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #ff0000;
  display: none;
}

.game-border-3,
#logo {
  background-color: #000000;
  font-size: 50px;
  color: white;
}

.snake {
  border: #5a5a5a 1px dotted;
}

.food {
  background-color: #ff0000;
  border: #95d3e7 5px solid;
  border-radius: 50%;
}

#logo {
  width: 150px;
  height:150px; 
  position: absolute;
  background-color: #fff;
  
}
#startButton{
  position: absolute;
  top: 65%;
  color: #00008B;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius: 24px;
  cursor: pointer;
  border: 2px solid #00008B ;
  background-color: #fcfeff;
  text-align: center;
  text-transform: capitalize;
  padding: 10px 10px;
  margin: 0;
}
.control-buttons{
  position: absolute;
  top: 90%;  
}
.control{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 30%;
  border: #5a5a5a;
  box-shadow: 0px 0px 50px 8px #66777c;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  background-color:#5a5a5a;
  padding: 10px;
}

@media screen and (min-width: 1150px) {
  .control-buttons {
    display: none; 
  }
}
